html {
  font-size: 16px;
}

:root {
  --text-color: black;
  --bg-color: white;
}

:root.dark {
  --text-color: #ffffffbf;
  --bg-color: black;

  .clock {
    font-weight: 100;
  }

  button {
    border: none;
    background: none;
    font-weight: 200;


    &.active {
      color: var(--text-color);
      font-weight: 600;
    }
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  transition: background 0.5s, color 0.5s;
}

input[type="checkbox"],
input[type="radio"] {
  width: 1rem;
  height: 1rem;
}


button {
  background: var(--bg-color);
  color: var(--text-color);
  margin: 5px;
  font-size: 1.125rem;
  cursor: pointer;
  border: 2px solid var(--text-color);
  border-radius: 2px;

  &.active {
    background: var(--text-color);
    color: var(--bg-color);
  }

  &#theme,
  &#settings {
    border: none;
  }
}

p {
  font-size: 1.125rem;
}

.controls button {
  min-width: 5.6rem;
  margin: 1.25rem;
}

button#settings {
  svg {
    circle {
      stroke: var(--text-color);
    }

    path {
      stroke: var(--text-color);
    }
  }
}

#closeSettings {
  color: black;
  background: white;
  border: 2px solid black;
  margin: 0.25rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.mode button {
  line-height: 1.25rem;
  vertical-align: middle;
}

.mode button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.clock {
  font-size: 4.5rem;
  font-weight: bold;
  margin: 1.25rem 0;
  display: flex;

  #hours,
  #minutes,
  #seconds {
    width: 5rem;
  }

  #hours,
  #seconds {
    margin-right: 2rem;
  }

  #hours::after {
    content: ":";
    margin: 0 0.25rem;
  }

  #seconds::before {
    content: ":";
    margin: 0 0.25rem;
  }
}

#progress {
  -webkit-appearance: none;
  width: 12.5rem;
  height: 0.325rem;
  margin-bottom: 0;
}

::-webkit-progress-bar {
  background-color: #808080;
}

::-webkit-progress-value {
  background-color: var(--text-color);
}

#displayMode {
  width: 5rem;
}

dialog {
  padding: 1px;

  div {
    margin: 2px;
    border-style: double;
    padding: 10px 20px;
  }
}